body { 
    background-image: url(https://images2.alphacoders.com/597/thumb-1920-597965.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh; 
    color: white; 
    font-family: Arial, sans-serif; 
    
}

h1 { 
    width: 500px; 
    margin: 20px auto 40px;  
    background-color: #333333;
    border-radius: 10px; 
    text-align: center; 
    font-size: 36px;
    color: limegreen; 
}

#cadastro-container { 
    width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    background-color: #333333;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px black; 
}



input { 
    width: 200px; 
    height: 25px; 
    margin: 10px 10px ;
    border: none; 
    outline: none; 
    padding: 5px; 
    border-radius: 5px; 
}

button {
    width: 70px; 
    height: 35px; 
    border: none; 
    outline: none; 
    background-color: limegreen; 
    color: white;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer; 
}


table { 
    height: 0px;
    margin: 10px auto; 
    border-collapse: collapse; 
}

th, td { 
    padding: 10px; 
    border: 1px solid white;
    text-align: center; 
}

th { 
    background-color: limegreen; 
    color: white; 
    font-size: 18px; 
}

td { 
    background-color: #333333; 
    color: white; 
    font-size: 16px; 
}

